.input--flex--row {
  display: flex;
  width: 420px;
  flex-direction: row;
  height: max-content;
  align-items: flex-end;
  gap: 12px;
}

.input--flex {
  flex-grow: 1;
}

/* Input data */
.input__data {
  width: 100%;
}

.input__data--error {
  border-color: red !important;
}

/* Select */
.form__select {
  height: 44px;
  border: 2px solid var(--clr-dark-gray);
  font-size: 16px;
}

.form__change-page {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .title {
    font-size: 50px;
  }

  .input--flex--row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .form {
    width: 240px;
  }

  .form__submit {
    margin-left: 0;
  }
}
